@{
    ViewData["Title"] = "Home Page";
}


<div class="d-flex flex-row justify-content-center m-3">
    <div class="p-5 m-3">
        <h4>Register</h4>
        <partial name="Registration" />
    </div>
    <div class="p-5 m-3">
        <h4>Login</h4>
        <partial name="Login" />
    </div>
</div>